<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        
        <title>Time of Day</title>
        
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!--
        {% assets "css_all" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
        -->
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Times of Day</h1>
            </div>
        
            <h2 id="js-time-of-day">The time of day is </h2>
        
            <ul>
                <li id="js-dawn"><strong>Dawn</strong>: </li>
                <li id="js-sunrise"><strong>Sunrise</strong>: </li>
                <li id="js-noon"><strong>Noon</strong>: </li>
                <li id="js-sunset"><strong>Sunset</strong>: </li>
                <li id="js-dusk"><strong>Dusk</strong>: </li>
            </ul>
        </div>
        
        {% assets "js_all" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
        {% endassets %}
    </body>
</html>
